# dependencies
node_modules/
docs/
AUDIT_REPORT/
# silent
stroid-website/

# builds
dist/
.next/
.vercel/
index.d.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.DS_Store
.idea/
.vscode/

# coverage
coverage/

# misc
.turbo/
.cache/
.parcel-cache/
*.tgz
*.tgz.sha512
