# dependencies
node_modules/

AUDIT_REPORT/
/AUDIT_REPORT.md
AUDIT_REPORT/
/AUDIT_REPORT.md

AUDIT_REPORT_2/
/AUDIT_REPORT_2.md
AUDIT_REPORT/
/AUDIT_REPORT.md
# silent
stroid-website/
coverage/

# builds
dist/
.next/
.vercel/
index.d.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.DS_Store
.idea/
.vscode/

# coverage
coverage/

# misc
.turbo/
.cache/
.parcel-cache/
*.tgz
*.tgz.sha512

# tests tmp output
tests/.tmp-*.txt
